body{
    margin: 0px;
    font-family: arial;
}
.menu{
    position: relative;
    height: 80px;
    width: 100%;
    background-color: rgb(209, 209, 209); 
}
.menu button{
border: 1px solid rgb(99, 99, 99);
cursor: pointer;
margin: 5px;
}
.nuevoUsuario{
    text-align: center;
    position: relative;
    width: 300px;
    height: auto;
    margin: auto;
    padding: 5px;
    border: 1px solid rgb(209, 209, 209); 
}
.nuevoUsuario input[type=submit]{
    border: 1px solid rgb(99, 99, 99);
cursor: pointer;
margin: 5px;
}
.menuUsuario{
    margin: auto;
    position: relative;
    width: 400px;
    height: auto;

}
.menuUsuario button{
    cursor: pointer;
    background-size: 100% 100%; 
    width: 100px;
    height: 100px;

}
.slot{
    width: 200px;
    cursor: pointer;
    height: 300px;
    background-color: gray;
    display: inline-block;
    margin: 5px;
}
.ocuparSlot{
    position: relative;
    border-radius: 50% 50%;
    width: 500px;
    height: 500px;
    border: 5px solid rgb(99, 99, 99);
}
.textSlot{
    position: absolute;
    top: 100px;
    left: 150px;
}